body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  padding: 100px 40px;
  text-align: center;
}

.hero h1 span {
  color: #38bdf8;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.buttons .outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 50px 40px;
}

/* SKILLS */
.skill {
  margin: 15px 0;
}

.bar {
  background: #1e293b;
  height: 10px;
  border-radius: 5px;
}

.bar span {
  display: block;
  height: 100%;
  background: #38bdf8;
  border-radius: 5px;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}